header {
	width:100%;
	position:fixed;
	z-index:99;
}

.bg-light {
	background-color:transparent !important;
}

.navbar-brand {
	color:#FFF !important;
	font-weight:bold;
	font-size:2.5rem;
	letter-spacing:0.5rem;
}

ul.navbar-nav li a.nav-link {
	color:#FFF !important;
	font-size:1.25rem;
}

.alt {
	background:#FFF !important;
	box-shadow:1px 2px 4px 0px #00000075 !important;
}

.alt .navbar-brand {
	color:#93E5AB !important;
}

.alt ul.navbar-nav li a.nav-link {
	color:#00241B !important;
}

ul.navbar-nav li a.nav-link:hover {
	color:#65B691 !important;
}

ul.navbar-nav li a.nav-link.active{
	color:#65B691 !important;
	transition:all.3s;
}


.banner {
	position:relative;
	background:url('../img/temp-bg.png'); 
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat; 
	background-size:cover;
	
	
	height:100vh;
	padding-top: 20vh;
	clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner h1, .banner p {color:#FFF;}
.banner strong {color:#B5FFE1; letter-spacing:0.25rem; font-size:4rem;}

.btn-custom { 
  color: #FFFFFF; 
  background-color: #93E5AB; 
  border-color: #93E5AB; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #FFFFFF; 
  background-color: #65B891; 
  border-color: #65B891; 
} 

.btn-outline-custom { 
  color: #65B891; 
  background-color: transparent;
  border-color: #93E5AB; 
} 
 
.btn-outline-custom:hover, 
.btn-outline-custom:focus, 
.btn-outline-custom:active, 
.btn-outline-custom.active, 
.open .dropdown-toggle.btn-outline-custom { 
  color: #FFFFFF; 
  background-color: #93E5AB; 
  border-color: #93E5AB; 
} 

@media(max-width:980px){
	.banner {
		padding-bottom:50px;
	}
}

.progress-title {
	width:100%;
	height:auto;
}

.progress-title h3 {
	font-size:1.5rem;
	font-weight: 700;
	margin: 0 0 0.31rem;
}

.progress {
	height:1.5rem;
	background:#00241B;
	border-radius:0px;
	box-shadow:0 2px 2px #4F4C4C;
	margin-bottom:1.5rem;
	overflow:visible;
	position:relative;
}

.progress .progress-bar {
	border-radius:0;
	background:#65B891;
	animation:animate-positive 2s;
}

.progress .progress-value {
	width:3.5rem;
	height:1.5rem;
	line-height:1.5rem;
	background:#4E878C;
	font-size:1rem;
	font-weight:700;
	color:#fff;
	box-shadow:0 2px 2px #4F4C4C;
	position:absolute;
	bottom:-1rem;
	right:5%;
}

@-webkit-keyframes animate-positive {
	0%{
		width:0;
	}
}

@keyframes animate-positive {
	0%{
		width:0;
	}
}